<%- include('../../../templates/adminNav.ejs') -%>

<div class="main">
  <div class="btn-group">
    <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
      Choose Query <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">All patients accomodated today</a></li>
    </ul>
  </div>
</div>

</body>
</html>
