<%- include('../../../templates/CVO-Homepage-NavBar.ejs') -%>


    <section >
	<!----- CAROUSEL ----->
	 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../../images/image-gallery/11.jpg" />
                                    </div>
                                    <div class="item">
                                        <img src="../../images/image-gallery/12.jpg" />
                                    </div>
                                    <div class="item">
                                        <img src="../../images/image-gallery/19.jpg" />
                                    </div>
                                </div>


    </div>
	</section>
	<!----- END OF CAROUSEL ----->


						<!-- FOR ADOPTION -->
						<section id="anim">
        <div class="container-fluid">
		<center>
		<div class="block-header">
                <h1>
                    We love to see you smile!<br>
                    <small>The Dental Metropolitan Care Center offers a lot of services to take care of your beautiful smile</small>
                </h1>
            </div>
			</center>
         <div class="row" style="padding:20px">

		 <center>

                <div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Dental Extraction <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/extraction.jpg" width="100%"/><br>
                            <p align="center"> is the removal of teeth from the dental alveolus (socket) in the alveolar bone. Extractions are performed for a wide variety of reasons, but most commonly to remove teeth.</p>
				
                        </div>
                    </div>
                </div>

				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Root Canal <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/root.jpg" width="100%"/><br>
                            <p align="center">are recommended or needed when there is an infection deep within the tooth. The pulp inside the tooth can become infected with bacteria because of an injury or because of a severe, untreated cavity.</p>
					
                        </div>
                    </div>
                </div>

				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Dental Consultation <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/cons.jpg" width="100%"/><br>
                            <p align="center">a diagnostic service provided by a dentist where the dentist, patient, or other parties discuss the patient's dental needs and proposed treatment modalities.</p>
			
                        </div>
                    </div>
                </div>

				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Braces <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/braces.jpg" width="100%"/><br>
                            <p align="center">are devices used in orthodontics that align and straighten teeth and help position them with regard to a person's bite, while also aiming to improve dental health.</p>
							
                        </div>
                    </div>
                </div>

			   <div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Dental Pasta <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/pasta.jpg" width="100%"/><br>
                            <p align="center">a treatment to restore the function, integrity, and morphology of missing tooth structure resulting from caries or external trauma as well as to the replacement of such structure supported by dental implants.</p>
			
                        </div>
                    </div>
                </div>

				<div class="col-lg-2">
                    <div class="card">
                       <div class="header bg-blue">
                            <h2>
                                Teeth Bleaching <small></small>
                            </h2>

                        </div>
                        <div class="body">
						<img src="../../images/bleach.jpg" width="100%"/><br>
                            <p align="center">the process of using bleach or other materials to make teeth look whiter. The materials remove stains or other discoloration from the tooth surface.</p>
							
                        </div>
                    </div>
                </div>
			</center>
			</div>
        </div>
		</section>
		<!-- END OF FOR ADOPTION -->


		<!--- MVG ---->
		<section style="background-color:light gray">
			<div class="container-fluid">
				<div class="block-header" align="center">
					<h1>Mission, Vision, & Goal<br><small>Subtitle</small></h1>
				</div>


			 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-blue">
                            To exceed our patients’ expectations in every way possible, by providing the best quality dental care complemented by the very finest customer service with no exceptions.
                            To offer to our patients the finest dental care and provide exceptional, prompt customer service. We will work together with our patients to improve oral health, speech, chewing ability, and cosmetic appearance to enhance nutrition, confidence, and quality of life. We will build relationships with our patients on honesty, trust, and comfort; and our emphasis will be placed on educating our patients so they are empowered to make knowledgeable decisions concerning their oral health and treatment options. Above all, we will honor others before ourselves. &copy Plaza Dental Group
                        </div>
                    </div>
                </div>
					 <div class="col-lg-8 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="body bg-white">
						<img src="../../images/image-gallery/MVG2.jpg" width="100%"/>
                        </div>
                    </div>
                </div>

			</div>
		</section>
		<!--- END OF MVG---->


		<!--- CONTACT US ---->
		<section style="background-color:light gray">
			<div class="container-fluid">
				<div class="block-header" align="center">
					<h1>CONTACT US<br><small>For a support or any questions: Email us at <font style="color:#2196f3">dentalmetropolis@gmail.com</font></small></h1>
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="header bg-blue">
                            <h2>
                                Get in Touch
								<small>Please fill out the quick form and we will be in touch with lightening speed. #newsletter</small>
                            </h2>
                        </div>
                        <div class="body">
                            <form>
								<label for="password">Name</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="name" class="form-control" placeholder="Enter your Name">
                                    </div>
                                </div>
                                <label for="email_address">Email Address</label>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" id="email_address" class="form-control" placeholder="Enter your email address">
                                    </div>
                                </div>



                                <br>
                                <button type="button" class="btn btn-primary m-t-15 waves-effect">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<p>
					<strong>Dental Metropolis Care Center</strong><br>
					<i>Dental Clinic</i><br>
          770 Provincial Rd Paso Bagbaguin
Santa Maria, Bulacan<br>
					(02)475 4719<br>
					<strong>Office Hours:</strong> 8:00am-5:00pm
					</p>
				</div>
			</div>
		</section>
<%- include('../../../templates/CVO-Homepage-Footer.ejs') -%>
