<%- include('../../../templates/adminNav.ejs') -%>

<div class="main">
  <div class="row">
    <div class="col-md-4">
      <div class="well well-lg">
          <h4>New Customers</h4>
          <h1>10</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well well-lg">
          <h4>Services</h4>
          <h1>4</h1>
      </div>
    </div>
  </div>
</div>

</body>
</html>
