<!DOCTYPE html>
<html>
  <head>
    <script src="/assets/dist/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/navbar.css">
    <link rel="stylesheet" href="/assets/table.css">
  </head>
  <body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img src="../../images/image-gallery/Logo.jpg" width="29%"/>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">




    <ul class="nav navbar-nav navbar-right">
 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp;janellealag <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">FAQs</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


<div class="sidenav">
  <a href="/Admin_Dashboard"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a>

<button class="dropdown-btn"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Transactions<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
    <a href="/Admin_Appointment">Appointment</a>
    <a href="/Admin_PatientTreatment">Patient Treatment</a>
    <a href="/Admin_Collection">Collection</a>
  </div>


  <button class="dropdown-btn"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Maintenance<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
    <a href="/Admin_PatientRecord">Patient Records</a>
    <a href="/Admin_Treatment">Dental Services</a>
    <a href="/Admin_DentistRecord">Dentist Record</a>
     <a href="/Admin_Clinic">Clinic Branch</a>
  </div>

  

  <button class="dropdown-btn"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Utilities<i class="fa fa-caret-down"></i></button>
  <div class="dropdown-container">
   <a href="/Admin_Admin">Admin Accounts</a>
  </div>
  <a href="/admin/queries"><span class="glyphicon glyphicon-search"></span>&nbsp;Queries</a>
</div>

<script>
//* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>
